[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
amqp = "*"
asgiref = "*"
async-timeout = "*"
attrs = "*"
billiard = "*"
celery = "*"
certifi = "*"
charset-normalizer = "*"
click = "*"
click-didyoumean = "*"
click-plugins = "*"
click-repl = "*"
deprecated = "*"
django = "==3.2"
django-cors-headers = "==3.13.0"
django-redis = "*"
djangorestframework = "==3.13.1"
djangorestframework-simplejwt = "*"
drf-spectacular = "*"
flower = "*"
humanize = "*"
idna = "*"
importlib-resources = "*"
inflection = "*"
jsonschema = "*"
kombu = "*"
packaging = "*"
pkgutil-resolve-name = "*"
prometheus-client = "*"
prompt-toolkit = "*"
psycopg2-binary = "*"
pyjwt = "*"
pyparsing = "*"
pyrsistent = "*"
python-dotenv = "*"
pytz = "*"
pyyaml = "*"
redis = "*"
requests = "*"
six = "*"
sqlparse = "*"
tornado = "*"
uritemplate = "*"
urllib3 = "*"
vine = "*"
wcwidth = "*"
wrapt = "*"
zipp = "*"

[dev-packages]

[requires]
python_version = "3.10"
